.whoAreWe-container {
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.whoAreWe-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.whoAreWe-header {
  text-align: center;
  padding: 20px 250px;
  color: #07004a;
}

.whoAreWe-header h2 {
  font-size: 2.5rem;
}

.whoAreWe-cards-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.whoAreWe-cards-container .mission-card,
.whoAreWe-cards-container .vision-card {
  width: 45%;
  border: 3px solid #100669;
  border-radius: 15px;
  padding: 20px;
  text-align: start;
}

.icon-mission,
.icon-vision {
  margin-bottom: 10px;
}

.mission-card h3,
.vision-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.mission-card h3,
.mission-card p,
.vision-card h3,
.vision-card p {
  color: #100669;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .whoAreWe-cards-container {
    flex-direction: column; 
    align-items: center; 
  }

  .whoAreWe-cards-container .mission-card,
  .whoAreWe-cards-container .vision-card {
    width: 90%; 
    margin-bottom: 20px;
  }

  .whoAreWe-header {
    padding: 20px;
  }
  .whoAreWe-header h2 {
    font-size: 1.5rem;
  }
}
